[project]
name = '{{ project_name }}'
version = "0.0.0"
description = "{{ description }}"
# Please add authors and correct the email...
authors = [{name='{{ username }}', email='{{ username }}@mailinator.com'}]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
]

[build-system]
requires = ["uv_build>=0.8.13,<0.9.0"]
build-backend = "uv_build"

[tool.uv]
package = true

[tool.uv.build-backend]
module-name = "{{ project_name }}"
module-root = ""


[project.urls]
repository = "https://github.com/{{ username }}/{{ project_name }}"

[project.optional-dependencies]

dev = [
    "pre-commit>=4.0.1",
    "numpy==2.3.0",
]

docs = [
    "sphinx <8.2",
    "sphinx-book-theme",
    "sphinx-copybutton",
    "sphinx-autodoc-typehints",
    "nbsphinx",
    "ipython",
    "nbformat==5.4.0",
    "ipython", 
    "notebook", 
    "matplotlib==3.10.0",
    "altair==5.5.0",
    "vega-datasets==0.9.0",
    "pyarrow",
]

tests = [
    "pytest",
    "pytest-cov",
]


[tool.bandit]
exclude_dirs = ["tests"]

[tool.deptry]
# see https://deptry.com/usage/#pep-621-dev-dependency-groups
pep621_dev_dependency_groups = ["dev"]
